<h3>Interaction</h3>
<style>
  .hide {
    display: hidden;
  }
  .fg-rect {
    fill: #5cb65c;
    cursor: pointer;
    filter: drop-shadow(0 0 0.2em rgba(0,0,0,0.75));
  }
  .sub:active {
    animation: commit 4s ease-in-out;
  }
  .bg-rect {
    fill: #428a3e;
  }
  text {
    fill: #FFF;
    font-size: 2.5em;
  }
  .link-text {
    font-weight: 900;
    cursor: pointer;
  }
  @keyframes commit {
    100% {
      transform: translateX(270px);
    }

  }
</style>
<div class="row">
  <div class="col-sm-12">
    <label>
      <input type="submit" class="hide">
      <svg width="500">
        <g>
          <rect ry="5" width="350" height="80" class="bg-rect"></rect>
          <text x="120" y="52">Commit</text>
        </g>
        <g class="sub">
          <rect ry="5" width="80" height="80" class="fg-rect"></rect>
          <text class="link-text" x="30" y="50">&#62;</text>
        </g>
      </svg>
    </label>
    <img src="https://cdn-images-1.medium.com/max/1600/1*U7-kEh5rvHXD2TVIgdugWw.jpeg">
  </div>
</div>
