<h3>Simple</h3>

<div class="row">
  <div class="col-sm-12">
    <h4>A rectangle</h4>
    <svg viewBox="0 0 500 100">
      <rect fill="white" stroke="green" x="10" y ="10" width="200" height="80"></rect>
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A circle</h4>
    <svg viewBox="0 0 500 100">
      <circle fill="green" stroke="black" cx="250" cy="50" r="25"></circle>
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A group</h4>
    <svg viewBox="0 0 200 150">
      <g stroke="green" fill="white">
        <rect x="10" y="10" width="50" height="20"></rect>
        <circle cx="15" cy="15" r="10"></circle>
      </g>
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A path</h4>
    <svg viewBox="0 0 500 200">
      <path fill="transparent" stroke="green" d="M10 10 H 200 V 100 H80 v-50 h-70 Z"></path>
    </svg>
  </div>
</div>
