<section class="consti">
  <div class="body">
    <h2>Drivers from constructor <b>{{constr.constructorId}}</b></h2>
    {{#each constr.Drivers}}
      <li>
        <p>
            <a href="../driver/{{driverId}}">{{givenName}} {{familyName}}</a>
        </p>
      </li>
    {{/each}}
  </div>
</section>
