<section class="contact">
  <h1>KONTAKT</h1>
  <div class="body">
    Kontaktiats mi na sche, wouns wos üba mi wissn megs.
    <p>
      Eicha Stipan aus Odnet.
    </p>
    <p>
      <a href='mailto:stefanelsat@gmx.at'>stefanelsat@gmx.at</a>
    </p>
  </div>
</section>
