<section class="contact">
  <h1>Grias Gott liabe Leit!</h1>
  <div class="body">
    <p>
      I begriaß enk heid auf meina Seit.
    </p>
    Kontaktiats mi na sche, wouns wos üba mi wissn megs.
    <p>
      Eicha Stipan aus Odnet.
    </p>
  </div>
</section>
