<section class="contact">
  <h1>Grias Gott liabe Leit!</h1>
  <div class="body">
    I begriaß enk heid auf meina Seit.
    Do hob i eich de besten Player zoumgstöt wos i so gfundn ho.
    Eicha Stipan aus Odnet.
  </div>
</section>
