<section class="contact">
  <h1>Grias Gott liabe Leit!</h1>
  <div class="body">
    <b>I begriaß enk heid auf meina Seit.</b><br>
    Do hob i eich de besten Player zoumgstöt wos i so gfundn ho.
    Eicha Stipan aus Odnet.
  </div>
</section>
