<section class="player">
  <h1>{{player.name}}</h1>
  <p>
    <img width='100' src='{{player.profile}}' alt='profile-pic'>
  </p>
  <div class="body">
    Hello, I'm {{player.name}} and my skills are <b>{{player.skills}}</b>!
  </div>
</section>
